# APP
NODE_ENV="development"
NEXT_PUBLIC_APP_URL=""

# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
AUTH_URL=""
AUTH_SECRET=""

# DATABASE (POSTGRES @ NEON)
# Ensure you append `sslmode=required` after the question mark in your connection string
DATABASE_URL=""